<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverAtras()" fill="clear">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center; margin-left: -80px; font-weight: bold;">RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="colorcito" style="--background: linear-gradient(to bottom, #ADD8E6, #7FFFD4);">
  <div style="text-align: center; margin: 20px 0;">
    <ion-label style="display: block; margin-top: 10px; font-size: 24px; font-weight: bold;">Escanear código QR</ion-label>
    <div style="font-size: 14px; display: flex; justify-content: center; align-items: center; margin-top: 5px;">
      <ion-icon name="location-outline" style="margin-right: 5px;"></ion-icon>
      <span>Sede San Andrés, Concepción</span>
    </div>
  </div>

  <br>
  <br>

  <!-- Botón para iniciar el escaneo -->
  <div style="text-align: center; margin-top: 20px;">
    <ion-button (click)="iniciarEscaneoQR()" color="primary">
      <ion-icon name="scan" slot="start"></ion-icon>
      Iniciar Escaneo
    </ion-button>
  </div>
</ion-content>
