<ion-content class="colorcito" style="--background: linear-gradient(to bottom, #ADD8E6, #7FFFD4);">
  <div *ngIf="sesionesFiltradas.length === 0" style="text-align: center; margin-top: 20px;">
    <ion-label>No se encontraron sesiones para la asignatura seleccionada.</ion-label>
  </div>

  <div *ngIf="sesionesFiltradas.length > 0">
    <ion-list>
      <ion-item *ngFor="let sesion of sesionesFiltradas">
        <ion-avatar slot="start">
          <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="Sesion Avatar" />
        </ion-avatar>
        <ion-label style="display: block; margin-top: 10px; font-size: 18px; font-weight: bold;">
          {{ sesion.asignatura || 'Asignatura no definida' }} - 
          {{ sesion.fechaGeneracion.toDate() | date: 'dd/MM/yyyy, h:mm a' }} <!-- Muestra la fecha correctamente -->
        </ion-label>
        <div style="font-size: 14px; display: flex; justify-content: center; align-items: center; margin-top: 5px;">
          <ion-icon name="location-outline" style="margin-right: 5px;"></ion-icon>
          <span>{{ sesion.sede || 'Ubicación no definida' }}</span>
        </div>
        <div style="font-size: 14px; text-align: center; margin-top: 10px;">
          <ion-button fill="clear" (click)="verAsistencia(sesion)">
            Ver Asistencia
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
