<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverAtras()" fill="clear">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center; margin-left: -80px; font-weight: bold;">RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="colorcito" style="--background: linear-gradient(to bottom, #ADD8E6, #7FFFD4);">
  <div style="text-align: center; margin: 20px 0;">
    <ion-avatar style="display: inline-block;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="Profile Picture" />
    </ion-avatar>
    <ion-label style="display: block; margin-top: 10px; font-size: 24px; font-weight: bold;">Cambio contraseña</ion-label>
    <div style="font-size: 14px; display: flex; justify-content: center; align-items: center; margin-top: 5px;">
      
      <ion-label> Ingresa tu nueva contraseña </ion-label>
    </div>
  </div>

  <ion-list>
    <ion-item>
      <ion-input label="Contraseña:" placeholder="Ingrese nueva contraseña"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña:" placeholder="Confirme nueva contraseña"></ion-input>
    </ion-item>
  
  </ion-list>

  <div style="text-align: center; margin: 20px;">
    <ion-button color="secondary" expand="full">Cambiar contraseña</ion-button>
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary" class="footer-buttons">    
      <ion-button expand="full" (click)="irASesiones()">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-footer>


<style>
  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido ocupe el espacio restante */
    height: 100%; /* Asegura que el ion-content ocupe todo el alto disponible */
  }

  .footer-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  ion-button {
    --size: 60px; /* Ajusta el tamaño de los botones */
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
    margin: 0 10px; /* Espaciado entre los botones */
  }
</style>
