<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align: center; width: 100%; font-weight: bold;">RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="colorcito" style="--background: linear-gradient(to bottom, #ADD8E6, #7FFFD4);">
  <ion-header collapse="condense"></ion-header>

  <br>
  <br>
  <br>

 <br>
 <br>
 <br>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary" class="footer-buttons">
      <ion-button expand="full">
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
      <!-- <ion-button expand="full">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button expand="full">
        <ion-icon name="settings" slot="icon-only"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<style>
  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido ocupe el espacio restante */
  }

  .footer-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  ion-button {
    --size: 60px; /* Ajusta el tamaño de los botones */
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
    margin: 0 10px; /* Espaciado entre los botones */
  }
</style>




<!-- control + k + c -->
<!-- <ion-footer>
<ion-toolbar>
<ion-title> Footer </ion-title>
</ion-toolbar>

</ion-footer>  -->
